.place__button {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/Vectorlike.png);
    border: 0;
    opacity: 1;
    transition: opacity .3 ease;
    cursor: pointer;
}

.place__button:hover {
    opacity: .5;
}