.form__item {
    width: 358px;
    border: none;
    font-size: 14px;
    line-height: 1.21;
    margin: 28px 0 0;
    padding: 0 0 11px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.form__item:first-child {
    margin-top: 0;
}

@media screen and (max-width: 540px) {
    .form__item {
        width: 238px;
        padding-bottom: 7px;
        margin-top: 30px;
    }
}